<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.FileMapper">

	<delete id="deleteFilesByUuids">
		DELETE
		FROM files_cf
		WHERE uuid IN
		<foreach item="uuid" index="index" collection="uuids"
			open="(" separator="," close=")">
			#{uuid}
		</foreach>
	</delete>

</mapper>